<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="LayOut" value="PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTE2Ij8+PEFycmF5T2ZGb3JtYXRhY2FvUGxhbmlsaGEgeG1sbnM6eHNkPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYSIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSI+PEZvcm1hdGFjYW9QbGFuaWxoYT48Tm9tZUF0cmlidXRvPkNlcDwvTm9tZUF0cmlidXRvPjxDb2x1bmE+OTwvQ29sdW5hPjwvRm9ybWF0YWNhb1BsYW5pbGhhPjxGb3JtYXRhY2FvUGxhbmlsaGE+PE5vbWVBdHJpYnV0bz5EZXN0aW5hcmFyaW88L05vbWVBdHJpYnV0bz48Q29sdW5hPjE1PC9Db2x1bmE+PC9Gb3JtYXRhY2FvUGxhbmlsaGE+PEZvcm1hdGFjYW9QbGFuaWxoYT48Tm9tZUF0cmlidXRvPkVuZGVyZWNvPC9Ob21lQXRyaWJ1dG8+PENvbHVuYT40PC9Db2x1bmE+PC9Gb3JtYXRhY2FvUGxhbmlsaGE+PC9BcnJheU9mRm9ybWF0YWNhb1BsYW5pbGhhPg==" />
    <!--<add key="StringConexaoAccess" value="Provider=Microsoft.Jet.OLEDB.4.0;User ID=admin;Data Source=" />
    <add key="CaminhoArquivoCriacaoDataBase" value="d:\" />
    <add key="NomeArquivoCriacaoDataBase" value="03 Criacao ModeloTarifacao Access.sql" />
    <add key="CaminhoBancoExportacaoTarifas" value="d:\" />
    <add key="NomeBanco" value="Tarifas" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />-->
  </appSettings>

  <applicationSettings>
        <WindowsFormsApplication1.Properties.Settings>
            <setting name="WindowsFormsApplication1_WSVippPostar_PostagemVipp"
                serializeAs="String">
                <value>http://vpsrv.visualset.com.br/PostagemVipp.asmx</value>
            </setting>
        </WindowsFormsApplication1.Properties.Settings>
    </applicationSettings>
  
</configuration>