<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PostagemVippSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://vpsrv.visualset.com.br/PostagemVipp.asmx"
                binding="basicHttpBinding" bindingConfiguration="PostagemVippSoap"
                contract="ServiceReference1.PostagemVippSoap" name="PostagemVippSoap" />
        </client>
    </system.serviceModel>
</configuration>